/*html {
  background: linear-gradient(to right, #e6dada, #274046); }*/

  /*html {
    background: black; }*/

/*body {
  background: linear-gradient(to right, #e6dada, #274046);}*/

#main {
  margin: 10px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.slim_tb_margins {
  margin: 10px 5px auto;
}

.text-24 {
  font-size: 24px;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.pos-center {
  display: table;
  margin: 0 auto;
}

.pos-right {
  display: table;
  margin: 0 0 0 auto;
}

.large-container {
  width: 1000px;
  height: 500px;
}

.code-mirror-container {
  margin: 15px 0;
  display: block;
}

.medium-form {
  width: 500px;
  height: 100px;
  display: block;
}

.text-center {
  text-align: center;
}

.nav {
  display: inline-block;
}

.nav-tabs {
  display: inline-block;
}
